@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Roboto", sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
}

.header {
	width: 100%;
	height: 64px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #ddd;
	padding: 8px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 100;
}

.header .left,
.header .right {
	display: flex;
	align-items: center;
}

.icon-button {
	width: 48px;
	height: 48px;

	margin: 0 4px;

	border-radius: 48px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	color: #5f6368;
	padding: 4px;
	user-select: none;
}

.icon-button.sm {
	width: 40px;
	height: 40px;
}

.icon-button.lg {
	width: 72px;
	height: 72px;
	border: 1px solid #ddd;
}

.icon-button.lg:hover {
	background: transparent;
}

.icon-button.lg .material-icons-sharp {
	font-size: 32px;
	margin: 0;
}

.icon-button img {
	border-radius: 100px;
}

.icon-button:hover {
	background-color: #3c404314;
}

.header-logo {
	display: flex;
	align-items: center;
	font-size: 22px;
	color: #5f6368;
	user-select: none;
}

.header-logo span {
	margin-left: 4px;
}

.content {
	width: 100%;
	position: relative;
	padding-top: 64px;
}

.content::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: calc(97px + 64px);
	top: 0;
	left: 0;
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}

.container {
	width: 1280px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.tabs {
	height: 68px;
	display: flex;
	align-items: center;
	position: relative;
}

.tab-button {
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	padding: 0 15px 0 11px;
	border-radius: 4px;
	color: #1967d2;
	cursor: pointer;
	user-select: none;
	font-weight: 500;
}

.tab-button .material-icons-sharp {
	font-size: 20px;
}

.tab-button.active {
	background: #1967d220;
}

.tab-button:hover {
	background: #1967d210;
}

.tab-button span {
	font-size: 14px;
}

.tab-button .material-icons-sharp {
	margin-right: 8px;
}

.material-icons-sharp {
	font-size: 20px;
	font-family: "Material Icons";
}

.tab-button + .tab-button {
	margin-left: 8px;
}

.translate-box {
	width: 100%;
	height: 219px;
	background: #fff;
	border-radius: 8px;
	/* overflow: hidden; */
	box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
	display: flex;
	flex-direction: column;
}

.tab-items {
	display: flex;
	align-items: center;
	flex: 1;
	overflow: hidden;
}

.tab-item {
	height: 48px;
	line-height: 48px;
	padding: 0 16px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	color: #666;
	border-bottom: 2px solid transparent;
	user-select: none;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.in-header-logo {
	box-shadow: 0 0 15px #ddd;
	font-size: 15px;
	width: 280px;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: #fff;
	transition: 0.5s;
}

.in-header-logo .header-logo {
	padding: 24px;
}
.in-header-logo hr {
	border-bottom: none;
	border-color: #00000010;
	margin: 10px 0;
}
.sidebar-item {
	color: #111;
	text-decoration: none;
	display: block;
	font-size: 13px;
	line-height: 40px;
	padding: 4px;
	padding-left: 48px;
}

.sidebar-item:hover {
	background: #00000010;
}

.in-header-logo p {
	margin: 20px;
}

.tab-item:hover {
	background: #00000010;
}

.tab-item.active {
	color: #1967d2;
	border-color: #1967d2;
}

.tab-item.active:hover {
	background-color: #1967d210;
}

.translate-box .tabs {
	height: 48px;
	border-bottom: 1px solid #ddd;
}

.main-container {
	display: flex;
	flex: 1;
}

.main-container-col {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main-container-col + .main-container-col {
	border-left: 1px solid #ddd;
}

.text-field {
	width: 100%;
	height: 114px;
	padding: 20px 58px 20px 24px;
}

.text-field textarea {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	resize: none;
	font-size: 24px;
	font-family: "Roboto", sans-serif;
}

.translate-stat {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	padding: 0 11px;
	color: #999;
}

.stat-left {
	padding: 0 10px;
}

.stat-left .material-icons-sharp {
	font-size: 24px;
}

.stat-right {
	padding: 0 10px;
	font-size: 12px;
	display: flex;
	align-items: center;
}

.stat-right .material-icons-sharp {
	font-size: 16px;
}

.stat-right span {
	padding: 0 10px;
	font-size: 12px;
}

.send-feedback {
	display: flex;
	align-items: center;
	justify-content: right;
}

.app-icon {
	width: 110px;
	height: auto;
	padding: 20px;
	cursor: pointer;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-icon img {
	width: 48px;
	margin-bottom: 10px;
}

.app-icon:hover {
	background: #1967d210;
}

.in-icon-button {
	position: fixed;
	right: 10px;
	top: 80px;
	background: #fff;
	box-shadow: 0 0 5px #00000030;
	width: 350px;
	padding: 10px;
	height: 400px;
	z-index: 100;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	border-radius: 10px;
	overflow: overlay;
}

.in-icon-button::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.in-icon-button::-webkit-scrollbar-thumb {
	background: #1967d210;
	background-clip: padding-box;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 2px;
}

.send-feedback a {
	text-decoration: none;
	font-style: italic;
	color: #666;
	font-size: 11px;
	margin-top: 8px;
}

.app-icon span {
	text-align: center;
	display: block;
}

.send-feedback a:hover {
	text-decoration: underline;
}

.tools {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 72px;
}

.tool {
	font-size: 14px;
	color: #000000aa;
	cursor: pointer;
	margin: 0 31px;
}

.tool span {
	display: block;
	margin-top: 8px;
	font-weight: 500;
	text-align: center;
}

.account-modal {
	border-radius: 20px;
	background: rgb(241, 245, 249);
	box-shadow: 0 0 30px #00000030;
	position: fixed;
	width: 370px;
	right: 10px;
	top: 80px;
	padding: 10px;
}

.para {
	display: flex;
	justify-content: center;
	padding: 5px;
	font-size: small;
	align-items: center;
}

.para p {
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.para p:hover {
	background: #1967d210;
}

.now-account {
	background: #fff;
	border-radius: 15px 15px 5px 5px;
	padding: 10px;
	display: flex;
}

.now-account-info {
	flex: 1;
}

.now-account-info {
	padding-left: 20px;
	padding-top: 20px;
}

.now-account-info h3 {
	font-weight: normal;
	font-size: medium;
}

.now-account-info h4 {
	font-weight: normal;
	font-size: small;
}

.now-account-info button {
	display: block;
	font-size: medium;
	margin-top: 20px;
	background: #fff;
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 10px;
	cursor: pointer;
}

.now-account-info button:hover {
	background: #fafafa;
}

.avt {
	width: 64px;
	height: 64px;
	position: relative;
}

.avt img {
	width: 100%;
	height: 100%;
	border-radius: 100px;
}

.animation {
	transform: translateX(-110%);
}

.avt .badge {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 0 5px #00000020;
}

.avt .badge span {
	font-size: 20px;
}

.account-list {
	background: #fff;
	border-radius: 5px 5px 20px 20px;
	margin-top: 2px;
}

.account-list-item {
	display: flex;
	padding: 10px 35px;
	align-items: center;
	cursor: pointer;
}

.account-list-item:hover {
	background: #1967d210;
}

.account-list-item .avatar img {
	border-radius: 100px;
}

.account-list-item .account-list-item-text {
	padding-left: 30px;
}

.language-box {
	width: 100%;
	box-shadow: 0 15px 15px rgb(224, 217, 217);
	border-radius: 0 0 10px 10px;
	position: absolute;
	top: 100%;
	background: #fff;
	left: 0;
	border-top: 1px solid #ddd;
}

.account-list-item .account-list-item-text h3 {
	font-weight: normal;
	font-size: medium;
}

.search {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	display: flex;
}

.language-list {
	padding: 20px;
}

.language-list ul li:hover {
	background: #fafafa;
}

.language-list ul {
	column-count: 6;
}

.language-list ul li {
	list-style: none;
	padding: 7px;
	cursor: pointer;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.language-list ul li span {
	font-size: 15px;
	margin-left: 4px;
}

.language-list ul li::before {
	content: "";
	display: inline-block;
	width: 30px;
	font-family: "Material Icons";
	-webkit-font-feature-settings: "liga";
}

.language-list ul li.active::before {
	content: "check";
}

.dropdown-btn {
	transition: 0.4s ease;
}

.dropdown-btn.active {
	transform: rotate(180deg);
}

.language-list ul li.active {
	color: #1967d2;
	background: #1967d210;
	font-weight: bold;
}

.search input {
	border: none;
	outline: none;
	flex: 1;
	font-size: 16px;
	margin-left: 10px;
}

.account-list-item .account-list-item-text h4 {
	font-weight: normal;
	font-size: small;
}

.logout-btn {
	display: flex;
	padding: 10px 30px;
	cursor: pointer;
	align-items: center;
	margin: 0 -10px;
	border-bottom: 1px solid #ddd;
}

.logout-btn:hover {
	background: #0033ff10;
}

.logout-btn .text {
	padding-left: 35px;
}

@media (max-width: 1280px) {
	.translate-box {
		border-radius: 0;
	}

	.tabs {
		padding: 0 12px;
		height: 56px;
	}

	.translate-box .tabs {
		padding: 0;
	}

	.language-box ul {
		column-count: 4;
	}
}

@media (max-width: 912px) {
	body {
		background: #fafafa;
	}

	:not(.active).tab-item {
		display: none;
	}

	.tab-button.sm-0 {
		display: none;
	}

	.translate-box {
		height: 183px;
	}

	.translate-box .tab-items .icon-button {
		display: none;
	}

	.translate-box .tab-items {
		justify-content: center;
	}

	.translate-box .tab-items .tab-item {
		width: 100%;
		text-align: center;
		border-bottom: none !important;
	}

	.translate-box .main-container-col:nth-child(2) {
		display: none;
	}

	.text-field {
		height: 81px;
	}

	.tools {
		margin-top: 60px;
	}

	.tool {
		margin: 0 18px;
	}

	.icon-button.lg {
		width: 62px;
		height: 62px;
		background: #fff;
	}

	.icon-button.lg:hover {
		background: #fff;
	}

	.send-feedback {
		padding: 0 10px;
	}

	.language-box ul {
		column-count: 3;
	}
}

@media (max-width: 719px) {
	.language-box {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.language-box ul {
		column-count: 1;
	}

	.language-box .language-list {
		flex: 1;
		overflow: auto;
	}
}

.hidden {
	display: none;
}
